<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>POSSystemWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <session-config>
  	<session-timeout>5</session-timeout>
  </session-config>
  
  <filter>
  <filter-name>loggingFilter</filter-name>
  <filter-class>com.kkm.pos2.filter.LoggingFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>loggingFilter</filter-name>
  <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  <filter-name>authenticateFilter</filter-name>
  <filter-class>com.kkm.pos2.filter.AuthenticateFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>authenticateFilter</filter-name>
  <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
</web-app>